<body class="home-body">
    <section class="about-section">
        <section class="top-container">
        <div class="about-image">
            <img class="thrust" src="../Content/rollingPug.gif">
        </div>
        <section class="aboutus">
            <h1 class="about-us">ThrustMasterOG</h1>
            <p class="about-us-description">ultimate silly goose of YouTube and TikTok </p>
            <a class="about-link" href="https://www.tiktok.com/@thrustmasterog">TikTok</a>
            <a class="about-link" href="https://www.youtube.com/channel/UCC0bl7E6HZ9IhGb6StraLug">YouTube</a>
            <div class="ad-container"><i class="ad-space fa-brands fa-adversal" style="color: #aeb0b2;"></i></div>
        </section>
    </section>
    <section class="games-container">
        <h2 class="happen">Top Games</h2>
        <div class="pfp-container">
            <div class="images-about">
                <div>
                    <p>Fortnite</p>
                    <img src="../Content/fortnite.png" alt="Fortnite logo" class="game-img">
                </div>
                <div>
                    <p>Valorant</p>
                    <img src="../Content/valorant.png" alt="Valorant logo" class="game-img">
                </div>
                <div>
                    <p>Call of Duty</p>
                    <img src="../Content/COD.jpg" alt="COD logo" class="game-img">
                </div>
            </div>
    <div class="spacer bottom-about"></div>
    </section>
    
</body>