<body>
    <section class="top-container">
        <div class="about-image">
            <img src="img/rollingPug.gif">
        </div>
        <section class="aboutus">
            <h1 class="about-us">About Us</h1>
            <p class="about-us-description">Primus is a forward-thinking group of tech enthusiasts and strategists united by a passion for going
                above
                and beyond the norm.
                Our path is driven by a never-ending quest for perfection and a passion for creating digital works of
                art
                that endure,
                much like the mysterious passageways of "Der Eisendrache" and the complex mazes of "Origins". Our name,
                which pays homage to the fabled
                "Shadows of Evil" guardians, represents our dedication to being industry leaders who explore uncharted
                territory and unveil undiscovered
                facets of technological brilliance.</p>
        </section>
    </section>
    <section class="team-container">
        <h2 class="happen">We Make It Happen</h2>
    <div class="spacer bottom-about"></div>
    <section class="aboutus-footer">
        <footer>{{>footer}}</footer>
    </section>
</body>