<body class="home-body">

    <!-- masthead -->
    <section class="masthead">
        <div>
            <figure>
                <iframe class="masthead-video"
                    src="https://www.youtube.com/embed/Ub1T6FbODnQ?autoplay=1&mute=1&loop=1&playlist=Ub1T6FbODnQ&controls=0&showinfo=0&rel=0&modestbranding=1&enablejsapi=1"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <h1 class="welcome"><a class="masthead-link" href="/content">Content</a></h1>
            </figure>
        </div>
    </section>


    <section class="top-container">
        <div class="about-image">
            <img class="thrust" src="../Content/rollingPug.gif">
        </div>
        <section class="aboutus">
            <h1 class="about-us">ThrustMasterOG</h1>
            <p class="about-us-description">Tune into the streams if you want to 1v1, <br> and check out the links below for more content</p>
            <div class="ad-container"><i class="ad-space fa-brands fa-adversal" style="color: #aeb0b2;"></i></div>
        </section>
    </section>
    <section class="socials-container">
        <h2 class="happen">Join Now</h2>
        <div class="pfp-container">
            <div class="images-about">
                <div>
                    <p>YouTube</p>
                    <a href="https://www.youtube.com/channel/UCC0bl7E6HZ9IhGb6StraLug" target="_blank"><img src="../Content/youtube.jpg" alt="Fortnite logo" class="game-img"></a>
                </div>
                <div>
                    <p>TikTok</p>
                    <a href="https://www.tiktok.com/@thrustmasterog" target="_blank"><img src="../Content/tiktok.jpg" alt="Valorant logo" class="game-img"></a>
                </div>
                <div>
                    <p>Twitch</p>
                    <a href="https://www.twitch.tv/thrustmasterog" target="_blank"><img src="../Content/twitch.jpg" alt="COD logo" class="game-img"></a>
                </div>
            </div>
        </div>
    </section>
    {{!-- <div class="spacer footer-svg"></div> --}}
</body>
