<body>

    <!-- masthead -->
    <section class="masthead">
        <div>
            <figure>
                <iframe class="masthead-video"
                    src="https://www.youtube.com/embed/Ub1T6FbODnQ?autoplay=1&mute=1&loop=1&playlist=Ub1T6FbODnQ&controls=0&showinfo=0&rel=0&modestbranding=1&enablejsapi=1"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <h1 class="welcome"><a class="masthead-link" href="/content">Content</a></h1>
            </figure>
        </div>
    </section>

    <section class="skill">
        <div>
            <p>skill</p>
        </div>
    </section>
    <section class="entertainment">
        <div>
            <p>entertainment</p>
        </div>
    </section>
    <section class="join">
        <div>
            <p>join now</p>
        </div>
    </section>
</body>