<body class="background2 content-body">
<h1 class="edit-h1">Add New Content</h1>
<section class="edit-container">
<form method="post">
    <fieldset>
        <label class="title-label" for="title">Title: <i class="fa-solid fa-pen-nib"></i></label>
        <input class="title-input" name="title" id="title" type="text" required />
    </fieldset>
        <fieldset>
        <label  class="title-label" for="link">Link: <i class="fa-solid fa-link"></i></label>
        <input class="title-input" name="link" id="link" type="text" required />
        {{!-- Must be an embedded link and not just a copy past from the url because of how the code is set up --}}
        <p class="message">MUST BE EMBEDDED LINK</p>
    </fieldset>
    <button class="btn btn-primary">Save</button>
</form>
</section>
</body>

