{{!-- had to link style sheets here, they weren't loading for some reason --}}
<link rel="stylesheet" href="/Content/app.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

<h1 class="edit-h1">Edit Content</h1>
<section class="edit-container">
    <section class="edit-form">
        <form method="post">
            <fieldset>
                <label for="title">Title: *</label>
                <input name="title" id="title" type="text" required value="{{content.title}}" />
            </fieldset>
            <fieldset>
                <label for="link">Link: *</label>
                <input name="link" id="link" type="text" required value="{{content.link}}" />
                <p>MUST BE EMBEDDED LINK</p>
            </fieldset>
            <button class="btn btn-primary">Save</button>
        </form>
    </section>
    <section class="edit-video">
        <p><iframe class="video" width="560" height="315" src="{{content.link}}" frameborder="0" allowfullscreen></iframe></p>
    </section>

</section>


<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/Scripts/app.js"></script>