{{!-- Come back and modify these later (I think I want this to look like the NCAA page for login) --}}
<body class="login-body">
<section class="login-container">
    <section class="big-image">
        <div>
            <img src="../Content/rollingPug.gif">
        </div>
    </section>
    <section class="login">
        {{#if messages}}
        <h3 class="alert alert-danger">{{messages}}</h3>
        {{/if}}
        <h1>Login</h1>
        <form method="post" action="/auth/login">
            <fieldset class="form-group">
                {{!-- <label class="input-label" for="username" class="col-2 control-label">Username: *</label> --}}
                <input name="username" id="username" type="email" required placeholder="email@email.com "/>
            </fieldset>
            <fieldset class="form-group">
                {{!-- <label class="input-label" for="password" class="col-2 control-label">Password: *</label> --}}
                <input name="password" id="password" type="password" required placeholder="Password *"/>
            </fieldset>
            <fieldset class="form-group">
                <button class="loginbtn btn btn-secondary">Login</button>
                <hr />
                <p>Need an account? <a href="/auth/register" title="Register">Register</a> </p>
                <a href="/auth/google"><i class="fa-brands fa-google google" style="color: #fc4545;"></i></a>
                {{!-- will add more oauth options  --}}
                <i class="fa-brands fa-twitter twitter" style="color: #74C0FC;"></i>
                <i class="fa-brands fa-github git"></i>
                <i class="fa-brands fa-twitch twitch" style="color: #B197FC;"></i>
            </fieldset>
        </form>
    </section>
</section>
</body>
