{{!-- Come back and modify these later (I think I want this to look like the NCAA page for login) --}}
<section class="login-container">
    <section class="big-image">
        <div>
            <img src="../Content/rollingPug.gif">
        </div>
    </section>
    <section class="login">
        <h1>Login</h1>
        <form method="post" action="/auth/login">
            <fieldset class="form-group">
                <label class="input-label" for="username" class="col-2 control-label">Username: *</label>
                <input name="username" id="username" required />
            </fieldset>
            <fieldset class="form-group">
                <label class="input-label" for="password" class="col-2 control-label">Password: *</label>
                <input name="password" id="password" type="password" required />
            </fieldset>
            <fieldset class="form-group">
                <button class="loginbtn btn btn-secondary offset-2">Login</button>
                <hr />
                Need an account? <a href="/auth/register" title="Register">Register</a>
                <p>or</p>
                <a href="/auth/google">Sign in with google</a>
            </fieldset>
        </form>
    </section>
</section>